$color-dark : #262626 ;
$color-black : #000;
$color-primary : #d3ab55 ;
$color-secondary : #bbb ;
$color-white : #fff;
$font-dancingScript : 'Dancing Script' , cursive ;
$font-josefinSans : 'Josefin Sans' , sans-serif ;
$font-sahel : Sahel , Tahoma ;
$font-nastaliq : Nastaliq, Tahoma ;
// $font-nunito : 'Nunito' , sans-serif ;ّ
@font-face{
    font-family: sahel;
    src : url(../fonts/Sahel-Black.eot) ;
    src : url(../fonts/Sahel-Black.ttf) format("ttf") , url(../fonts/Sahel-Black.woff) format("woff") ;
    font-weight: normal;
} 
@font-face {
    font-family: Nastaliq;
    src: url(../fonts/IranNastaliq.ttf);
    font-weight: normal;
}
@mixin flex-layout {
    display: flex;
    justify-content : center;
    align-items : center;
}
@mixin textStyle {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centring($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%,-50%);
}
%fullSpace{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $color-dark ;
}